.listing-view .map-list-view {
	display: flex;
	
}

.listing-view .map-list-view .map-view {
	height: calc(100vh - 84px);
	width: calc(100% - 450px);
}

.listing-view .map-list-view .list-view {
	width: 450px;
	margin: 18px 13px;
	margin-bottom: 0px;
	margin-right: 0px;
}

.listing-view .map-list-view .list-view .list-view-title {
	font-family: GothamRnd;
	font-size: 16px;
	font-weight: bold;
	line-height: 19px;
	color: #444444;
}

.listing-view .map-list-view .list-view .property-view {
	height: calc(100vh - 180px);
	overflow-y: scroll;
}

.listing-view .map-list-view .list-view .property-view.filter {
	height: calc(100vh - 338px);
}